/* Todo: adicionar animaçao de transiçao no response elipse, e diagramar melhor
tentar tirar todo framework css do projeto */

/* @import url("https://fonts.googleapis.com/css?family=Barlow:300,400,700&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

html {
  height: 100%;
  width: 100%;
  font-family: Poppins;
  overflow: hidden;

  background-color: #2cb978;
  background-image: url("./bubbles.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar-menu{
  position: absolute;
  right: 0;
  z-index: 1;
}

.searchBar{
  justify-content: center;
  align-items: center;
}

.input {
  border: 2px solid #3b5441 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 5px !important;
  max-width: 800px;
  justify-content: center;
  align-items: center;
}

.input::placeholder {
  font-weight: 300;
  font-size: 0.75em;
  color: #107a8b;
  letter-spacing: 0.015em;
}

.circle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 0em 0 0em;

  background: rgba(255, 255, 255, 0.86);
  border-radius: 100%;
  /* Todo checar tamanho do circulo */
  height: 15em;
  width: 15em;
  border: 9.5px solid rgba(16, 122, 139, 0.85);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text {
  color: #3b5441;
  line-height: 130%;
  margin: 0 1em 0 1em;
}
.search-bar {
  padding-top: 4.5em;
  display: flex;
	justify-content: center;
	align-items: center;
}
.response {
  display: flex;
  justify-content: center;
  padding-top: 5em;
}
.sigla {
  font-size: 3em;
  padding-bottom: 1em;
}
.name {
  font-size: 1.5em;
  font-weight: 500;
  padding: 0em 0 0.5em 0;
}
.description {
  display: inline-block;
  font-weight: 500;
}
